{block head}<link rel="stylesheet" href="https://rawgithub.com/o5/grido/master/client-side/grido.css">{/block}
{block content}
<a class="back" n:href="Homepage:">Späť </a><a class="back1" n:href="UserGroup:reg">  Vytvoriť skupinu </a>
{control grid}
{/block}
