{block head}<link rel="stylesheet" href="https://rawgithub.com/o5/grido/master/client-side/grido.css">{/block}
{block content}
<a class="back" n:href="Homepage:">Vrátiť sa</a>
{control grid}
{/block}
