{block head}<link rel="stylesheet" href="https://rawgithub.com/o5/grido/master/client-side/grido.css">{/block}
{block content}
<div class="homepage">
<a n:href="sign:in">Prihlasenie </a>
<a n:href="sign:out"> Odhlasenie </a>
<a n:href="user:list"> Administracia uzivatelov </a>
<a n:href="usergroup:list"> Administracia skupin</a>
</div>
	<h1 n:block=title>Vyhľadávanie</h1>
{control grid}
{/block}
