{block content}
<a n:href="user:list">Administracia uzivatelov</a>
<div id="banner">
	<h1 n:block=title>Vyhľadávanie</h1>
{control homepageForm}

{* or use {include '../components/form.latte', form => homepageForm} *}
</div>
{/block}
